.semonto-health-monitor {
  max-width: calc(100% - 10px);
}

@media only screen and (min-width: 782px) {
  .semonto-health-monitor {
    max-width: calc(100% - 20px);
  }
}

.semonto-health-monitor__body {
  background-color: #fff;
  border-left: 1px solid #c3c4c7;
  border-right: 1px solid #c3c4c7;
  border-bottom: 1px solid #c3c4c7;
  padding: 1em;
}

.semonto-health-monitor__title {
  font-size: 1.5em;
}

/*
 * Tabs
 */
.semonto-health-monitor__tabs {
  display: flex;
  border-bottom: 1px solid #c3c4c7;
  background-color: #f4f4f4;
}

.semonto-health-monitor__tab {
  padding: .5rem 1rem 1rem;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
}

.semonto-health-monitor__tab.active {
  box-shadow: 0 1px #fff;
  background-color: #fff;
  border-top: 1px solid #c3c4c7;
  border-right: 1px solid #c3c4c7;
  border-left: 1px solid #c3c4c7;
}

.semonto-health-monitor__tab:not(.active):hover {
  color: inherit;
  background-color: #e5e5e5 !important;
}

/*
 * Hero section
 */
.semonto-health-monitor__hero-banner {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.semonto-health-monitor__hero-icon-wrapper {
  margin-right: 1em;
}

.semonto-health-monitor__hero-icon {
  width: 3em;
  height: 3em;
  border-radius: 0.25em;
}

.semonto-health-monitor__hero-content {
  margin-bottom: 1.5em;
}

.semonto-health-monitor__hero-image {
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.5em 1em 0;
  max-width: 100%;
}

.semonto-health-monitor__hero-content-list {
  list-style-type: disc;
  padding-left: 1.5em;
  margin-bottom: 1em;
}

@media screen and (min-width: 782px) {

  .semonto-health-monitor__hero-content-wrapper {
    display: flex;
  }

  .semonto-health-monitor__hero-content {
    margin-bottom: 0;
    display: flex;
    margin-right: 3em;
    max-width: 50%;
  }

  .semonto-health-monitor__hero-image-wrapper {
    display: flex;
    justify-content: center;
  }

  .semonto-health-monitor__hero-image {
    max-width: 400px;
  }
}








.semonto-health-monitor p {
  margin: 0px;
  /* font-size: 15px; */
}

.semonto-health-monitor u {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.semonto-health-monitor h2 {
  font-size: 20px;
}

.semonto-health-monitor a {
  /* text-decoration: none; */
}

/* .semonto-health-monitor .titles {
  margin-bottom: 17px;
  margin-top: 17px;
} */

.semonto-health-monitor #create-account {
  color: white;
}



.semonto-health-monitor #semontoimg {
  height: 50px;
  margin-left: 10px;
}

.semonto-health-monitor a {
  /* color: black; */
}

.semonto-health-monito #infotext {
  font-size: 18px;
  text-wrap: no-wrap;
  margin: 0px;
  max-width: 500px;
  list-style-type: disc;
}

.semonto-health-monitor .input-button {
  cursor: pointer;
  width: auto;
  background-color: #007FFF;
  height: 40px;
  color: white;
  border: none;
  border-radius: 5px;
}

.semonto-health-monitor .overall {
  width: 200px;
}

.semonto-health-monitor input {
  margin: 0px;
}

.semonto-health-monitor .error-messages {
  color: red;
}

.semonto-health-monitor .options {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
}

.semonto-health-monitor button {
  font-size: 15px;
}

.semonto-health-monitor .input-fields {
  margin-bottom: 12px;
}

.semonto-health-monitor .input-fields-text {
  display: flex;
  height: 40px;
}

.semonto-health-monitor .semontosetting {
  /* margin-top: 20px; */
  /* display: flex; */
}

.semonto-health-monitor .title-test {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 14px;
  width: 40%;
}

.semonto-health-monitor .semonto_serverload {
  margin-left: 10px;
  border: 1px solid grey;
  width: 20%;
}

.semonto-health-monitor .warning {
  font-size: 13px;
  width: 20%;
}

.semonto-health-monitor .switch-option {
  padding: 5px;
}

.semonto-health-monitor .switch {
  position: relative;
  display: inline-block;
  margin: 0px;
  width: 55px;
  height: 30px;
}

.semonto-health-monitor .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.semonto-health-monitor .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.semonto-health-monitor .slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.semonto-health-monitor input:checked+.slider {
  background-color: #2196F3;
}

.semonto-health-monitor input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

.semonto-health-monitor input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.semonto-health-monitor .slider.round {
  border-radius: 34px;
}

.semonto-health-monitor .slider.round:before {
  border-radius: 50%;
}

.semonto-health-monitor .instal-succes-message {
  color: #3c434a;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  padding: 15px;
  color: green;
  line-height: 1.3em;
  background-color: rgb(229, 252, 229);
}

.semonto-health-monitor .close-button {
  width: 15px;
  font-size: 18px;
  cursor: pointer;
  float: right;
  /* Add this line to position the close button to the right */
}

.semonto-health-monitor #secret-key {
  width: 100%;
}

.semonto-health-monitor .tests {
  margin-bottom: 20px;
}

.semonto-health-monitor .input-tests {
  border-top: 1px solid rgb(171, 171, 171);
  margin-bottom: 50px;
}

@media only screen and (min-width: 600px) {
  .semonto-health-monitor .input-tests {
    width: 470px;
  }

  .semonto-health-monitor #secret-key {
    width: 470px;
  }

  .semonto-health-monitor .instal-succes-message {
    font-size: 17px;
    width: auto;
    max-width: 500px;
  }

  .semonto-health-monitor .semonto_serverload {
    width: 25%;
  }

  .semonto-health-monitor .warning-error {
    text-align: center;
  }

  .semonto-health-monitor .warning {
    font-size: 13px;
    width: auto;
    margin-bottom: 10px;
  }

  .semonto-health-monitor .one {
    margin-right: 4px;
  }
}

.semonto-health-monitor .warning-error {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.semonto-health-monitor .error-input {
  border: 1px solid red;
  color: black;
}

.semonto-health-monitor #execerror {
  color: #e20c0c
}

.semonto-health-monitor .load {
  margin-right: 6%;
}

.semonto-health-monitor .test-field {
  width: 470px;
  border-top: 1px solid rgb(171, 171, 171);
}

#semontobutton {
  background-color: #007FFF;
  width: 120px;
  color: white;
  text-align: center;
  height: 19px !important;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  margin-left: 8px;
  text-decoration: none;
}

.semontolink {
  display: flex;

}

#semontotext {
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.semonto-health-monitor__not-available {
  color: #2271b1;
  background-color: #dae0e5;
  border: 1px solid #2271b1;
  border-radius: 0.25em;
  margin-top: 1em !important;
  padding: .5em;
  font-size: 1em !important;
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .semonto-health-monitor .input-tests {
    width: 470px;
  }

  .semonto-health-monitor #secret-key {
    width: 470px;
  }

  .semonto-health-monitor .instal-succes-message {
    font-size: 17px;
    width: auto;
    max-width: 500px;
  }

  .semonto-health-monitor .semonto_serverload {
    width: 25%;
  }

  .semonto-health-monitor .warning-error {
    text-align: center;
  }

  .semonto-health-monitor .warning {
    font-size: 13px;
    width: auto;
    margin-bottom: 10px;
  }

  .semonto-health-monitor .one {
    margin-right: 4px;
  }
}


